<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AnimeVF</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="icon" type="image/png" href="img/icono.png" />
    <link rel="stylesheet" type="text/css" href="css/Galeriaestilo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
   
</head>
<body class="Boddy">
   
    <div class="menu-container">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">
              <img src="img/corazon.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
              ANIMEVF
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <div class="navbar-nav mr-auto ml-auto text-center">
                <a class="nav-item nav-link active" href="index.html">Inicio</a>
                <a class="nav-item nav-link" href="Anime.html">Anime</a>
                <a class="nav-item nav-link" href="Manga.html">Mangas</a>
                <a class="nav-item nav-link" href="Galeria.html">Wallpapers</a> 
                <div class="resgistro">
                        <a class="nav-item nav-link" href="Resgistro.html"  >Registro</a>
                    </div>           
              </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
          </nav>

        <form action="">

            <h3>Seleccione Imagen</h3>
            <input type="text" placeholder="Titulo" class="titulo-imagen">
            <img src="img/imgdtstone.jpg" alt="" class="imagen-select">
            <input type="button" value="Cargar imagen" class="cargar-img">
            <input type="file" class="seleted">
            <input type="button" value="cargar" class="subir">


        </form>
        <div class="shape"></div>


    </div> 


        <div class="container-galeria">
            <h1 class="titulogale">Galeria de Imagenes</h1>
            <input type="button" value="Wallpapers mas recientes" class="btn-recientes">
            <div class="galeria">
                <figure><h2>imagen</h2><img src="img/img1.jpg" alt=""></figure>
                <figure><h2>imagen</h2><img src="img/imgpokemonespesc.jpg" alt=""></figure>
                <figure><h2>imagen</h2><img src="img/img2.jpg" alt=""></figure>
                <figure><h2>imagen</h2><img src="img/imagenichigo.jpg" alt=""></figure>
                <figure><h2>imagen</h2><img src="img/img3.png" alt=""></figure>
                <figure><h2>imagen</h2><img src="img/imgaohana.jpg" alt=""></figure>
                <figure><h2>imagen</h2><img src="img/img4.jpg" alt=""></figure>
                <figure><h2>imagen</h2><img src="img/imglevi.jpg" alt=""></figure>
                <figure><h2>imagen</h2><img src="img/img5.jpg" alt=""></figure>
                <figure><h2>imagen</h2><img src="img/imgdtstone.jpg" alt=""></figure>
                <figure><h2>imagen</h2><img src="img/img6.jpg" alt=""></figure>
                <figure><h2>imagen</h2><img src="img/imgblackclo.jpg" alt=""></figure>
               
                
                
                
                
            </div>

        </div>
        <i class="fas fa-plus btn-show"></i>



    <footer>
        <P> Contacto: <a href="tel/+569123456789">+569123456789</a></P>
		<P> Email : <a href="mailto:duoc@hotmail.com">duoc@hotmail.com</a>
                </P>
                <p>Derechos Reservados &copy; / Vicente Liberona - Fabian Villagra   </p>

    </footer>






    <script src="js/jquery.js"></script>
    <script src="js/galeriajava.js"></script>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>