<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AnimeVF</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="icon" type="image/png" href="img/icono.png" />



</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">
          <img src="img/corazon.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
          ANIMEVF
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <div class="navbar-nav mr-auto ml-auto text-center">
            <a class="nav-item nav-link active" href="index.html">Inicio</a>
            <a class="nav-item nav-link" href="Anime.html">Anime</a>
            <a class="nav-item nav-link" href="Manga.html">Mangas</a>
            <a class="nav-item nav-link" href="Galeria.html">Wallpapers</a> 
            <div class="resgistro">
                <a class="nav-item nav-link" href="Resgistro.html"  >Registro</a>
            </div>           
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
        <h1>Manga</h1>
        <div class="container-fluid fondo">
          
          <div class="textmanga">
            <p> Es indudable que el manga forma esencial en cuanto a la industria del entretenimiento en Japón.

              Es una palabra con la que se designa a las historietas o comics en papel o revistas y se encuentra muy ligada a la cultura nipona. Guarda estrecha relación con el anime aunque en este caso tiene que ver más con el arte o la manera de contar historias.
              
              Abarca una amplia gama de géneros, incluyendo acción, romance, aventura, deportes, juegos, drama, histórico, comedia y ciencia ficción. Su influencia a nivel global es muy grande y causan furor no sólo en Japón, sino en el mundo entero.
              
              El manga se hizo popular en los países occidentales, luego de la Primera Guerra Mundial, gracias a mangas como “Astroboy” de Osamu Tezuka. Dragon Ball es otro ejemplo del impacto internacional de este arte, cuyos personajes son héroes con una fama similar a Batman o Supermán. Te invitamos 
              a adentrarte en el maravilloso mundo del manga donde encontrarás figuras y relatos fantásticos.</p>
          </div>
      </div>

      <h2>ULTIMAS NOTICIAS MANGAS</h2>
      <div class="articulos">
      <article>

        <p> lorep ipsum</p>
      </article>
      <article>
        <p>lorep ipsum</p>

      </article>

      <article>
          <p>lorep ipsum</p>
  
        </article>
</div>
    <footer>
        <P> Contacto: <a href="tel/+569123456789">+569123456789</a></P>
		<P> Email : <a href="mailto:duoc@hotmail.com">duoc@hotmail.com</a>
                </P>
                <p>Derechos Reservados &copy; / Vicente Liberona - Fabian Villagra   </p>
    </footer>





    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
</body>
</html>