<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AnimeKusa</title>
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="icon" type="image/png" href="img/icono.png" />



</head>
<body>
    <h1>Nosotros</h1>
    <div class="menu-container">
        
        <nav  >
            <ul>
                <li> <a href="index.html" title="Opcion 1">Inicio</a></li>
                <li><a href="Anime.html" title="Opcion 2">Anime</a></li>
                <li> <a href="Manga.html" title="Opcion 3">Mangas</a></li>
                <li><a href="Galeria.html" title="Opcion 4">Wallpapers</a></li>
                   
                
                
                
            </ul>
        </nav>
    </div> 

    <main>

    </main>


    <footer>
        <P> Contacto: <a href="tel/+569123456789">+569123456789</a></P>
		<P> Email : <a href="mailto:duoc@hotmail.com">duoc@hotmail.com</a>
                </P>
                <p>&#174; Derechos Reservados </p>
    </footer>






    
</body>
</html>